.about-section {
  background: var(--background-color);
  color: white;
  padding-bottom: 120px;
  .about-content {
    max-width: 1330px;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .top-block {
    padding: 28px;
    border-radius: 25px;
    border: 1px solid white;
    margin-bottom: 60px;

    .title {
      margin-bottom: 38px;
      font-size: 32px;
      font-weight: 700;
      text-align: center;
    }

    p {
      font-size: 16px;
      line-height: 1.55;
      color: #cfcfcf;
      margin-bottom: 20px;
    }
    .paragraph {
      font-size: 16px;
      line-height: 1.55;
      color: #cfcfcf;
      margin-bottom: 20px;

      ul {
        padding-left: 30px;
      }
    }
  }

  /* ---------------------- */
  /*    MIDDLE SECTION      */
  /* ---------------------- */
  .middle {
    display: flex;
    gap: 32px;
    margin-bottom: 60px;
    width: 100%;
    padding-inline: 2rem;

    .card {
      max-width: 360px;
      text-align: center;
      background: var(--primary-color);
      padding: 24px 60px;
      border-radius: 14px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);

      &.left {
        align-self: flex-start;
      }
      &.right {
        align-self: flex-end;
      }
      h3 {
        font-size: 24px;
        margin-bottom: 24px;
        color: #fff;
        font-weight: 700;
      }

      p {
        color: #ffffff99;
        line-height: 1.5;
      }
    }

    .phone-frame {
      width: 100%;
      max-width: 450px;
      height: 900px;
      border-radius: 80px;
      overflow: hidden;
      box-shadow: 0 15px 40px rgba(0, 0, 0, 0.55);
      background: #000;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  /* ---------------------- */
  /*    BOTTOM BLOCK        */
  /* ---------------------- */
  .bottom-block {
    display: flex;
    width: 100%;
    gap: 32px;
    padding-inline: 2rem;

    .img-wrap {
      width: 100%;
      max-width: 360px;
      border-radius: 80px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .info-block {
      flex: 1;
      color: #b3b3b3;
      border: 1px solid #fff;
      padding: 16px;
      border-radius: 16px;
      h3 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 14px;
        color: white;
      }

      .lists {
        display: flex;
        gap: 40px;

        .list-one,
        .list-two {
          flex: 1;
        }

        h4 {
          font-weight: 800;
          font-size: 16px;
          margin-bottom: 8px;
        }
        ul {
          list-style: none;
          li {
            margin-bottom: 8px;
            font-size: 16px;
            color: #dcdcdc;
          }
        }
      }
    }
  }

  /* ---------------------- */
  /*    RESPONSIVE          */
  /* ---------------------- */
  @media (max-width: 1200px) {
    padding-bottom: 40px;
    .about-content {
      padding-inline: 5rem;

      margin-top: 40px;

      .top-block {
        font-size: 28px;
      }
    }
    .middle {
      flex-direction: column;
      align-items: center;
      // padding: 0;
      padding-inline: 0;
      margin-bottom: 32px;
      .card {
        max-width: 100%;
        width: 100%;
        border-radius: 24px;
      }
      .phone-frame {
        max-width: 100%;
        width: 100%;
        border-radius: 20px;
        height: 500px;
      }
    }

    .bottom-block {
      flex-direction: column;
      align-items: center;
      padding: 0;
      .img-wrap {
        max-width: 100%;
        width: 100%;
        height: 300px;
        border-radius: 20px;
      }
      .info-block {
        width: 100%;
        .lists {
          ul {
            li {
              font-size: 12px;
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
  }
  @media (max-width: 700px) {
    .about-content {
      padding-inline: 2rem;
      .middle {
        .card {
          padding: 16px 35px;
        }
      }
       .bottom-block {
      .img-wrap {
        height: 240px;
      }
    }
    }
  }
}
