.contact-page {
    background-color: var(--background-color);
  
  .contact-content {
    max-width: 1330px;
    margin: 0 auto;
    padding: 60px 1rem;
    display: flex;
   
    gap: 1rem;
    
    .contact-info {

       border: 1px solid white;
      border-radius: 16px;
      padding: 16px;
      color: white;
  
      h2 {
        font-size: 2rem;
        margin-bottom: 24px;
        font-weight: 600;
     
      }

      .map-preview {
        width: 100%;
        height: 240px;
        margin-bottom: 2rem;
        border-radius: 12px;
        overflow: hidden;
        position: relative;

        iframe {
          pointer-events: none;
        }

      
      }
      .contact-address {
         border: 1px solid white;
        border-radius: 16px;
        padding: 16px;

      }
      .contact-info-items {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .info-item {
          display: flex;
          align-items: center;
          gap: 10px;

          svg {
              width: 20px;
              height: 20px;
            
            }

          p {
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
    
    .contact-form {
      border: 1px solid white;
      border-radius: 16px;
      padding: 16px;
      flex: 1;
      min-width: 300px;

        h2 {
        font-size: 2rem;
        font-weight: 600;
        color: white;
          margin-bottom: 24px;
      }

      form {
        display: flex;
        flex-direction: column;
        
        gap: 40px;

       
        .inputs {
          display: flex;
          gap: 8px;
          @media (max-width: 350px) {
            flex-direction: column;
          }
        }

        .align-center {
          align-self: center;
        }
      }
    }
      @media (max-width: 1000px) {
      flex-direction: column;
  }
  }
}
