.confirm-booking {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
  .contact-fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
      display: flex;
      flex-direction: column;
      gap: 0.35rem;
      font-size: 0.9rem;
      font-weight: 800;
      color: #b3b3b3;
      margin-bottom: 1rem;
     
      span {
        margin-bottom: .5rem;
      }
      input {
        border: 1px solid #d7d7d7;
        border-radius: 8px;
        padding: 12px;
        font-size: 1rem;
        background-color: #fff;
        transition: border-color 0.2s ease, box-shadow 0.2s ease;
        
        &:focus {
          outline: none;
          border-color: var(--primary-color);
          box-shadow: 0 0 0 2px rgba(0, 164, 80, 0.2);
        }
      }
    }
  }

  &__summary {
    border: 1px solid #00A45033;
    background-color: #00A45014;
    padding: 24px;
    border-radius: 8px;
  }

  .booking-values {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 1rem;

    svg {
      path {
        fill: var(--primary-color);
      }
    }

    .date-and-time {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      span {
        color: white;
        font-size: 16px;
      }
    }

    span {
      color: white;
      font-size: 0.95rem;
    }
  }

  .confirm-actions {
    display: flex;
    gap: 1rem;

    .back-button {
      min-width: 180px;
      border-radius: 50px;
      transition: all 0.3s ease;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--primary-color);
      background-color: transparent;
      color: var(--primary-color);
      padding: 1rem 3rem;
      font-size: 1rem;
      font-weight: 800;

      &:hover {
        background-color: var(--primary-color);
        color: white;
      }
       @media (max-width: 768px) {
    font-size: 12px;
    padding: .5rem 3rem;
  }
    }
    .confirm-button {
      flex: 1;
    }

    @media (max-width:500px) {
      flex-direction: column;
    }
  }
}
