.timezone-row {
  margin-top: 1.8rem;
  display: flex;
  gap: 0.6rem;
  position: relative;
  padding-left: 12px;
}

.timezone-label {
  display: flex;
  align-items: center;
  gap: 0.45rem;
  color: #b5b5b5;
  font-size: 12px;
  width: 20%;
  svg {
    color: #b5b5b5;
  }
}

/* Dropdown Box */
.timezone-dropdown {
  width: 80%;
  padding: 8px 8px;
  background: #00a45014;
  border: 1px solid #00a45033;
  border-radius: 50px;
  color: var(--primary-color);
  font-size: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease;

  &:hover {
    border-color: var(--primary-color);
  }

  .arrow {
    transition: transform 0.2s ease;
    color: var(--primary-color);

    &.rotate {
      transform: rotate(180deg);
    }
  }
}

/* Dropdown Options List */
.timezone-options {
  margin-top: 0.35rem;
  position: absolute;
  bottom: 40px;
  width: 100%;
  background: var(--background-color);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  z-index: 50;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

/* Single Option */
.timezone-option {
  padding: 0.85rem 1rem;
  color: #dcdcdc;
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background: rgba(57, 245, 137, 0.12);
  }

  &.active {
    background: var(--primary-color);
    color: #111;
    font-weight: 600;
  }
}
