.time-slot {
  background: transparent;
  border: 1px solid var(--primary-color);
  padding: 12px 24px;
  color: #999;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.25s ease;
  font-size: 0.95rem;
  text-align: center;
  white-space: nowrap;

  &:hover {
    background: rgba(57, 245, 137, 0.12);
  }

  &.active {
    background: var(--primary-color);
    color: white;
    font-weight: 600;
    border-color: var(--primary-color);
  }
}
