.smart-spaces-list-page {
  background-color: var(--background-color);
}

.smart-places-list {
  position: relative;
  z-index: 50;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 1rem;
  justify-items: center;
  margin: -100px 2rem 0; // Mobile margin

  @media (min-width: 768px) {
    // grid-template-columns: repeat(2, 1fr);
    margin: -100px 10rem 0; // Tablet margin
    padding: 3rem;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    margin: -100px 15rem 0; // PC margin
    padding: 2.5rem;
  }

  .smart-space-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .image-container {
      width: 100%;
      aspect-ratio: 4/3;
      overflow: hidden;
      // border-radius: 8px;
      max-width: 395px;
     
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .smart-space-title {
      font-size: 1.25rem;
      font-weight: 800;
      color: #231F20;
      margin: 0;
      text-align: center;
    }
  }

  .mobile-divider {
    height: 1px;
    background-color: var(--primary-color);
    width: 100%;
    margin: 0 auto;
    
    @media (min-width: 768px) {
      display: none;
    }
  }
}
