.custom-btn {
  padding: 1rem 3rem;
  font-size: 1rem;
  font-weight: 800;
  min-width: 250px;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 50px;
  transition: all 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color);
  
  // Default (Solid) Style
  background-color: var(--primary-color);
  color: white;

  &:hover {
    background-color: var(--primary-color-dark);
    border-color: var(--primary-color-dark);
  }

  // Bordered Style
  &.custom-btn--bordered {
    background-color: transparent;
    color: var(--primary-color);

    &:hover {
      background-color: var(--primary-color);
      color: white;
    }
  }

  @media (max-width: 1100px) {
    font-size: 12px;
    padding: .5rem 3rem;
  }
}
