.app-footer {
  background-color: #231f20;
  color: white;
  padding: 4rem 2rem 2rem;
  margin-top: auto;
.footer {
  max-width: 1200px;
   margin: 0 auto;
   
}
  .footer-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;

    @media (min-width: 768px) {
      grid-template-columns: 1.5fr 1fr 1fr;
    }

    .footer-column {
      display: flex;
      flex-direction: column;
      // gap: 1.5rem;

      .column-header {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 32px;
        svg {
          path {
            fill: var(--primary-color);
          }
        }
        h3 {
          font-size: 24px;
          font-weight: 600;
          color: var(--primary-color);
          margin: 0;
        }
      }

      &.about-column {
       .footer-logo-wrapper {
          margin-bottom: 30px;
          width: 100px;
          height: 80px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        
        }

        .contact-info-list {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .info-item {
            display: flex;
            align-items: flex-start;
            gap: 0.5rem;

            .icon {
              width: 20px;
              height: 20px;
              flex-shrink: 0;
              margin-top: 2px;

              path {
                fill: white;
              }
            }

            p {
              font-size: 16px;
              margin: 0;
              opacity: 0.8;
            }
          }
        }

        .social-links {
          display: flex;
          gap: 2rem;
          margin-top: 32px;

          a {
            svg {
              width: 20px;
              height: 20px;
              path {
                fill: white;
              }
              &:hover {
                path {
                  fill: var(--primary-color);
                }
              }
            }
          }
        }
      }

      &.company-column {
        .section-group {
          margin-bottom: 2rem;
        }
      }

      .footer-links {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        li {
          a {
            color: white;
            text-decoration: none;
            // opacity: 0.7;
            transition: all 0.2s ease;
            font-size: 0.95rem;

            &:hover {
              color: var(--primary-color);
              padding-left: 5px;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    max-width: 1200px;
    padding-top: 4rem;
    
    p {
      font-size: 0.9rem;
      opacity: 0.6;
    }
  }
}
