.terms-and-conditions-page {
    background-color: var(--background-color);
  .terms-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 2rem;

    @media (max-width: 768px) {
      padding: 40px 1rem;
    }

    section {
      margin-bottom: 2rem;

      h2 {
        font-size: 24px;
        margin-bottom: .5rem;
        color: #B3B3B3;
        font-weight: 800;
      }

      ul {
        list-style-type: disc;
        padding-left: 1.5rem;
        
        li {
          margin-bottom: 0.4rem;
          line-height: 24px;
          color: #757575;
          font-size: 1rem;
        }
      }
    }
  }
}
